div.app-view{
    margin-top: 1em;
}

/* home */
div.manga{
    padding: 1em 0 1em 0;
    margin: .5em 0 .5em 0;
    background-color: whitesmoke;
    border: 1px solid darkgray;
}

div.manga-gallery{
    padding-right:0;
}

img.manga-thumbnail{
    width: 140px;
    height:202px;
}

/* viewer */
img.manga-page{
    padding-top: .5em;
    padding-bottom: .5em;
    width: 999px;
    height: 1444px;
}

div.manga-viewer{
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: whitesmoke;
}

/* details */
img.manga-cover{
    width: 350px;
    height: 512px;
}

div.manga-preview{
    background-color: dimgray;
    margin-top: 1em;
}

img.page-preview{
    width: 200px;
    height: 283px;
    padding: 1em;
}

