div.app-view{
    
}

div.app-nav{
    margin: 0;
}

/* misc */
.no-padding{
    padding: 0;
}

/* home */
div.manga{
    padding: 1em 0 1em 0;
    margin: .5em 0 .5em 0;
    background-color: whitesmoke;
    border: 1px solid darkgray;
}

div.manga-gallery{
    padding-right:0;
}

img.manga-thumbnail{
    width: 140px;
    height:202px;
}

button.manga-tag{
    margin-top: .5em;
    margin-right: .5em;
    padding: 0 .5em;
}

.manga-title{
    margin-top: 0;
    margin-bottom: .5em;
}

/* viewer */
img.manga-page{
    padding-top: .5em;
    padding-bottom: .5em;
    width: 999px;
    height: 1444px;
    cursor: pointer; 
}

div.manga-viewer{
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: whitesmoke;
}

/* details */
div.manga-details{
    font-size: 1.1em;
    padding: 1em;
    background-color: whitesmoke;
}

div.details-row{
    margin-top: .5em;
}

img.manga-cover{
    width: 350px;
    height: 512px;
}

div.manga-preview{
    background-color: dimgray;
    margin-top: 1em;
}

img.page-preview{
    width: 200px;
    height: 283px;
    padding: 1em;
}

button.manga-details-tag{
    margin-top: .5em;
    margin-right: .5em;
    padding: 0 .5em;
    font-size: 1em;
}

h1.details-title{
    margin-bottom: .5em;
}

/* artists */
ul.category-results{
    list-style: none;
    padding-left: 1em;
}

ul.letter-nav{
    list-style: none;
   padding-left: 1em;
}

ul.letter-nav li{
     display: inline;
     padding-right: 1em;
}

ul.letter-nav li a{
    cursor: pointer; 
}