<div class="col-md-6 manga-gallery" ng-repeat="manga in data">
     <div class="container manga img-rounded">
         <div class="col-md-4">
             <a ui-sref="viewer({manga: manga, mangaId: manga.id, pageStart: 1})">
                <img class="manga-thumbnail" ng-src="{{ ::manga.path + '/' + 'thumbnail.jpg' }}"/>
             </a>
         </div>
         <div class="col-md-8 no-padding">
             <h2 class="manga-title"><a ui-sref="details({mangaId: manga.id })">{{ ::manga.name }}</a></h2>
             <div class="row" ng-if="::manga.artist">
                 <div class="col-md-4">Artist</div>
                 <div class="col-md-8">{{ ::manga.artist }}</div>
             </div>
             <div class="row" ng-if="::manga.series">
                 <div class="col-md-4">Series</div>
                 <div class="col-md-8">{{ ::manga.series }}</div>
             </div>
             <div class="row" ng-if="::manga.collection">
                 <div class="col-md-4">Collection</div>
                 <div class="col-md-8">{{ ::manga.collection }}</div>
             </div>
             <div class="row" ng-if="::manga.language">
                 <div class="col-md-4">Language</div>
                 <div class="col-md-8">{{ ::manga.language }}</div>
             </div>
             <div class="row" ng-if="::manga.tags.length > 0">
                 <div class="col-md-4">Tags</div>
                 <div class="col-md-8">
                     <button class="btn btn-primary btn-sm manga-tag" ng-repeat="tag in manga.tags">
                         {{ ::tag }}
                     </button>
                 </div>
             </div>
         </div>
     </div>
</div>