<ul class="nav navbar-nav letter-nav">
    <li ng-repeat="letter in Series.letters">
        <a ng-click="Series.goToLetter(letter)">{{ ::letter }}</a>
    </li>
</ul>
<div class="container">
    <div class="row" ng-repeat="row in Series.rows">
        <div class="col-md-3"
             ng-repeat="(letter, seriesList) in row"
             id="{{ ::letter }}">
            <h4>{{ ::letter }}</h4>
            <ul class="category-results">
                <li ng-repeat="series in seriesList">
                    <a ui-sref="mangaBySeries({series: series, seriesId: series.id })">{{ ::series.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
