<h1>{{ ::MangaByArtist.artist.name }}</h1>

<manga-gallery data="MangaByArtist.mangaList.mangaList"></manga-gallery>

<div class="container text-center" ng-if="MangaByArtist.mangaList.totalPages > 1">
    <pagination ng-model="MangaByArtist.currentPage"
                total-items="MangaByArtist.mangaList.totalCount"
                items-per-page="::MangaByArtist.itemsPerPage"
                boundary-links="true"
                ng-change="MangaByArtist.pageChanged()">
    </pagination>
</div>